body {
  font-family: "Poppins", sans-serif;
  position: absolute;
}

textarea:focus,
input:focus {
  outline: none;
}

textarea::placeholder {
  color: white;
  line-height: "22.5px";
  font-size: "15px";
  font-weight: 200;
}
